[bumpversion]
current_version = 0.1.0
tag = True

[bumpversion:file:build.py]
search = version = '{current_version}'
replace = version = '{new_version}'

[bumpversion:file:src/visual_behavior/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}
